{% set containerHeightClassMap = {
  'short': '',
  'medium': 'min-h-[60vh]',
  'tall': 'min-h-[calc(100vh-112px)]'
} %}

{% set containerHeightClass = containerHeightClassMap[properties.height] %}

{% set heroAlignClassMap = {
  'left': 'flex-col md:flex-row md:justify-between',
  'center': 'flex-col',
  'right': 'flex-col md:flex-row-reverse md:justify-between'
} %}

{% set hcClass = heroAlignClassMap[properties.alignment] %}

{% set textWidthClassMap = {
  'small': 'max-w-lg',
  'medium': 'max-w-2xl',
  'large': 'max-w-4xl',
  'full': ''
} %}

{% set textAlignClassMap = {
  'left': 'text-left',
  'center': 'mx-auto text-center',
  'right': 'text-right'
} %}

{% set textClass = textWidthClassMap[properties.text_width] ~ ' ' ~ textAlignClassMap[properties.alignment] %}

{% set buttonAlignClassMap = {
  'left': 'justify-start',
  'center': 'justify-center',
  'right': 'justify-end'
} %}

{% set buttonClass = buttonAlignClassMap[properties.alignment] %}

{% set imageAlignClassMap = {
  'left': 'justify-start',
  'center': 'justify-center',
  'right': 'justify-end'
} %}

{% set imageClass = imageAlignClassMap[properties.alignment] %}

<section id="{{ componentId }}" class="component" data-component-id="{{ componentId }}">
  <div class="relative flex justify-center items-center py-20 lg:py-32 {{ containerHeightClass }}">
    <div class="container relative flex gap-12 items-center px-4 {{ hcClass }}">
      <div class="flex flex-col gap-6 {{ textClass }}">
        {% if properties.title %}
          <h1 class="text-4xl font-bold text-t-primary tracking-tight leading-[1.1] md:text-5xl lg:text-6xl text-balance">
            {{ properties.title | renderString }}
          </h1>
        {% endif %}
        {% if properties.subtitle %}
          <p class="text-base text-t-primary/40 leading-relaxed md:text-lg lg:text-xl max-w-2xl {{ 'mx-auto' if properties.alignment == 'center' }}">
            {{ properties.subtitle | renderString }}
          </p>
        {% endif %}
        {% if properties.show_searchbar %}
          {% render_snippet "searchbar.njk", alignment=properties.alignment %}
        {% endif %}
        {% if properties.buttons and properties.buttons.length > 0 %}
          <div class="flex flex-wrap items-center gap-4 mt-2 {{ buttonClass }}">
            {% render_snippet "buttons.njk", buttons=properties.buttons %}
          </div>
        {% endif %}
      </div>
      {% if properties.side_image %}
        <div class="flex items-center min-w-md {{ imageClass }}">
          <img src="{{ properties.side_image | imageUrl }}" alt="" class="max-w-full rounded-2xl" />
        </div>
      {% endif %}
    </div>
  </div>
</section>
